<div class="profile-container">
  <header>
    <img src="https://a3-images.myspacecdn.com/images03/1/240e42b5d9ce48a78983961e7fcb3c39/300x300.jpg" />
    <h1><%= @user.full_name %></h1>
  </header>
</div>
